.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 1rem;
  margin: 1.6rem;
  max-width: 400px;
  margin-top: 4rem;

  &__title {
    font-size: 3r6m;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }

  &__submitButton {
    color: #fff;
    width: 100%;
    background-color: var(--dark-green);
    padding: 1.6rem;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;

  &__label {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
  }

  &__input {
    font-size: 1.6rem;
    font-weight: 40;
    letter-spacing: 0.1rem;
    outline: 0.1rem solid var(--dark-grey);
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;
  }
}

.formRadio {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;

  &__title {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 1.6rem;
  }

  &__div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.6rem;
    border: 0.1rem solid var(--dark-grey);
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
  }

  &__label {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
}

.formMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  &__label {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8rem;
  }

  &__textArea {
    height: 24rem;
    resize: none;
    border: 0.1rem solid var(--dark-grey);
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    outline: none;
  }
}

.formConsent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4rem;

  &__checkbox {
    visibility: hidden;
  }

  &__customCheckbox {
    position: absolute;
    border-radius: 0.4rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.1rem solid var(--dark-grey);
  }

  &__label {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 700px) {
  .form {
    width: 70%;
    max-width: 690px;
    padding: 4rem;

    &__title {
      font-size: 3.2rem;
    }

    &__nameSection {
      display: flex;
      gap: 1.6rem;

      div {
        flex: 1;
      }
    }
  }

  .formRadio__radios {
    display: flex;
    gap: 1.6rem;

    div {
      flex: 1;
    }
  }

  .formRadio {
    div div {
      padding-inline: 2.4rem;
    }
  }

  .formMessage {
    &__textArea {
      height: 13rem;
    }
  }
}
