@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --light-green: #e0f1e8;
  --dark-green: #0c7d69;
  --dark-grey: #2a4144;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 1rem;
  margin: 1.6rem;
  max-width: 400px;
  margin-top: 4rem;
}
.form__title {
  font-size: 3r6m;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.form__submitButton {
  color: #fff;
  width: 100%;
  background-color: var(--dark-green);
  padding: 1.6rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.formInput__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
.formInput__input {
  font-size: 1.6rem;
  font-weight: 40;
  letter-spacing: 0.1rem;
  outline: 0.1rem solid var(--dark-grey);
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
}

.formRadio {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.formRadio__title {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 1.6rem;
}
.formRadio__div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
  border: 0.1rem solid var(--dark-grey);
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
}
.formRadio__label {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.formMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.formMessage__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
.formMessage__textArea {
  height: 24rem;
  resize: none;
  border: 0.1rem solid var(--dark-grey);
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
  outline: none;
}

.formConsent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}
.formConsent__checkbox {
  visibility: hidden;
}
.formConsent__customCheckbox {
  position: absolute;
  border-radius: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.1rem solid var(--dark-grey);
}
.formConsent__label {
  font-size: 1.6rem;
}

@media screen and (min-width: 700px) {
  .form {
    width: 70%;
    max-width: 690px;
    padding: 4rem;
  }
  .form__title {
    font-size: 3.2rem;
  }
  .form__nameSection {
    display: flex;
    gap: 1.6rem;
  }
  .form__nameSection div {
    flex: 1;
  }
  .formRadio__radios {
    display: flex;
    gap: 1.6rem;
  }
  .formRadio__radios div {
    flex: 1;
  }
  .formRadio div div {
    padding-inline: 2.4rem;
  }
  .formMessage__textArea {
    height: 13rem;
  }
}
.attribution {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}
.attribution a {
  text-decoration: none;
}
.attribution a:visited,
.attribution a:link {
  color: var(--dark-green);
}

/*# sourceMappingURL=main.css.map */
