body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-green);
}

@media screen and (min-width: 700px) {
  body {
    justify-content: center;
  }
}
